body{
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 0;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #dcdcdc;
}

.header{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(54, 54, 54);
    padding: 0.5rem;
}

.content{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.content .left{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .right{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin: 1rem;
}

.answRow{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 8px;
}

.answRow>*{
    width: 100%;
    aspect-ratio: 1 / 1;
    border: #dcdcdc solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
}

#board{
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: #F0D9B5;
    margin: 1rem;
}

#board .darkSquare{
    background-color: #B58863;
}

#board .row>*{
    width: 100%;
    position: relative;
    aspect-ratio: 1 / 1;
}

#board .row>*>*{
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    z-index: 1;
    user-select: none;
}

#board .row{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

button{
    color:black;
    width: 100%;
    padding:0.4rem;
}

.buttons{
    display:flex;
    width: 100%;
    margin-top: -0.4rem;
}

.back{
    margin-left: 0;
    margin-right: 0.1rem;
}

.submit{
    margin-right: 0;
    margin-left: 0.1rem;
}

.green{
    background-color: green;
}